<%= form_tag import_csv_admins_dashboard_index_path, multipart: true do %>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-header"><h4>File Upload</h4></div>
        <div class="card-body">
          <%= file_field_tag :file ,required: true %>
          <%= submit_tag "Import" ,class: "btn btn-primary"%>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
<% end %><br/>

<% if @papers.present? %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">PaperName</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Pending Inquiry</th>
      </tr>
    </thead>
    <tbody>
     <% @papers.each do |paper| %>
        <tr>
          <td><%= paper.paper_name %></td>
          <td><%= paper.price %></td>
          <td><%= paper.quantity%></td>
         <td><%= link_to 'View Inquiry',inquiry_admins_dashboard_index_path(paper_id: paper.id),class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= paginate @papers %>
<% else %>
  No Data Uploaded.
<% end %>
